#
# ARM CPU Frequency scaling drivers
#

config ARM_EXYNOS_ACME
	bool "SAMSUNG EXYNOS ACME(A Cpufreq that Meets Every chipset) driver"
	depends on ARCH_EXYNOS
	  help
	  This adds the CPUFreq driver for every exynos chipset. Exynos
	  ACME supported SoC must use the exynos CAL framework.

	  If in doubt, say N.

config ARM_EXYNOS_UFC
	bool "SAMSUNG EXYNOS UFC(User Frequency Control) driver"
	depends on ARM_EXYNOS_ACME
	 help
	 This adds the User CPU Frequency Control driver for every exynos chipset.
	 Exynos UFC suppored SoC must use the exynos ACME driver.

	 If in doubt, say N.
